

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#myselect {
width:230px;
}
#myselect option {
width:220px;
}











